<% if current_user == user %>
    <%= link_to edit_user_path(user), class:'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-cogs"></i>編集
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class:'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-sign-out-alt"></i>ログアウト
    <% end %>
    <%= link_to notifications_path, class:'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-bell"></i>通知
    <% end %>
<% else %>
    <div id="follow_btn_<%= user.id %>", class="btn btn-outline-secondary btn-block">
        <%= render "publics/relationships/btn",user: user %>
    </div>
    <%= link_to chat_path(user.id), class:'btn btn-outline-secondary btn-block' do %>
        <i class="fab fa-rocketchat"></i> chatを始める
    <% end %>
<% end %>
