<!--<div class="card-list-container">-->
  <% posts.each do |post| %>
    <div class="card w-60 mx-auto mt-4 shadow-lg">
      <% if post.image_id.present?%>
        <%= link_to post do %>
          <%= image_tag post.image_id, class:"card-img-top" %>
        <% end %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= link_to user_path(post.user) do%>
              <%= image_tag post.user.get_image_id, size: '50x50', class:"mt-3 rounded-circle" %>
            <% end %>
          </div>
          <div class="col-10">
            <div class="card-text">
              <p><%= post.text %></p>
            </div>
            <div class="row">
              <div class="col-md-2", id="favorite_buttons_<%= post.id %>"><%= render 'publics/post_favorites/favorite' ,post: post %></div>
              <div class="col-md-4", id="comments_count"><%= render 'publics/post_comments/comment_count' ,post: post %></div>
              <div class="col-md-2 offset-md-4">
                <%= link_to "show", post %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<!--</div>-->

