<table class='table'>
  <tr>
    <th><%= image_tag user.get_image_id, size:'100x100', class:'rounded-circle' %><br>
	  <%= user.nickname %></th>
	  <th></th>
  </tr>
  <tr>
	  <th>紹介文<br>
	   <%= user.introduction %></th>
	   <th></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
</table>