<div class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <h2>User</h2>
            <%= render 'admins/users/user', user: @user %>
            <div class='row'>
                <%= form_with model:@user, url: admins_user_path, method: :PATCH, local:true do |f| %>
                   <div class='col-12'><%= f.label :会員ステータス %></div>
                    <div class='col-12'>
                        <%= f.radio_button :is_deleted, false, checked: true %>
                        <%= f.label :is_deleted, '有効', value: false %>
                    </div>
                    <div class='col-12'>
                        <%= f.radio_button :is_deleted, true %>
                        <%= f.label :is_deleted, '退会', value: true %>
                    </div>
                    <div class='col-12'><%= f.submit "変更を保存" %></div>
                <% end %>
            </div>
        </div>
        <div class='col-md-8 offset-md-1'>
            <h2>Posts</h2>
            <%= render 'admins/posts/index',posts: @posts %>
        </div>
    </div>
</div>
